:root{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F4F6F8;
  /*
  --primary: #2563EB;
  --primary-hover: #1D4ED8;
  --background: #F4F6F8;
  --card-bg: #FFFFFF;
  --text-primary: #111827;
  --text-secondary: #6B7280;
  --border-color: #E5E7EB;
  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;
*/

  --primary: #0D9488;
  --primary-hover: #0F766E;

  --background: #F1F5F9;
  --card-bg: #FFFFFF;

  --text-primary: #0F172A;
  --text-secondary: #64748B;

  --border-color: #E2E8F0;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;
}

body{
  margin: 0;
  padding: 0px;
}