.actions{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border: solid 1px var(--border-color);
  border-radius: 10px;
  background-color: var(--card-bg);

}

.actions button{
  padding: 10px;
  border: solid 1px var(--border-color);
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--border-color);
  transition: all 0.3s ease-in-out;
}

.actions button:hover{
  background-color: var(--primary-hover);
  cursor: pointer;
  transform: scale(1.05);
}