.route-setup{
 display: grid;
 grid-template-rows: repeat(3, 1fr);
 padding: 10px;
 gap: 10px;
 width: auto;
 height: auto;
 border-radius: 10px;
 background-color: var(--card-bg);
 border: solid 1px var(--border-color);
}

.route-setup div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#start-location, #end-location{
  height: 30px;
  width: 80%;
  padding: 5px;
  border: solid 1px var(--border-color);
  border-radius: 20px;
  text-align: center;
}

#start-location:focus, #end-location:focus{
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 1px var(--primary);
}

#add-stop, .added-stops-list{
  width: auto;
  height: auto;
  padding: 10px;
  border: none 1px var(--border-color);
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--border-color);
  transition: all 0.3s ease;
}

#add-stop:hover, .added-stops-list:hover{
  background-color: var(--primary-hover);
  cursor: pointer;
  transform: scale(1.05);
}

.route-setup :nth-child(3){
  display: flex;
  flex-direction: row;
  gap: 10px;
}